<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>

<body>
    <header>
            
    </header>
    
    <div class="content-area">
        <h2>for NURSES</h2>
        <p>View the current capacity of emergency departments from the comfort of your home.</p>
    </div>

</body>

</html>